<h1><%= username %>'s Documents</h1>
<div class="docs">
	<% if (docs && docs.length) { %>
		<table>
			<thead>
				<td>Name (Download)</td>
				<td>Type</td>
				<td>Size</td>
			</thead>
			<tbody>
				<% for (let i = 0; i < docs.length; i++) { %>
					<tr>
						<td>
							<a href="/docs/file/<%- docs[i].get('id') %>">
								<%- docs[i].get("originalName") %>
							</a>
						</td>
						<td>
							<%- docs[i].get("mimeType") %>
						</td>
						<td>
							<%- docs[i].get("size") %> bytes
						</td>
					</tr>
				<% } %>
			</tbody>
	<% } else { %>
		<p class="docs-none">You don't have any docs yet...<p>
		<a href="/docs/upload" class="docs-upload">Why not upload some?</a>
	<% } %>
</div>
